*{
  font-family: "Abhaya Libre", serif;
}
.scroller{
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: scroll;
}
.min-h{
  min-height: 80vh;
}
.section-margin{
  margin-top: 56px;
}
.fs-48{
    font-size: 36px;
}
.fs-18{
  font-size: 16px;
}
.fs-32{
  font-size: 24px;
}
.fs-20{
  font-size: 18px;
}
.fs-40{
  font-size: 36px;
}
@media only screen and (min-width: 768px) {
    .fs-48{
        font-size: 48px;
    }
    .fs-18{
        font-size: 18px;
    }
    .fs-32{
       font-size: 32px;
    }
     .fs-20{
       font-size: 20px;
    }
    .fs-40{
      font-size: 40px;
    }
}
